<h1> Here are all the ratings submitted so far: </h1>

<ul id="Ratings">
    <% @all_ratings.each do |rating| %>
        <li>
            <% if !rating[:name].empty? %>
                Name: <%= rating[:name] %>
            <% end %>
            Rating: <%= rating[:rating] %>
        </li>
    <% end %>
 </ul>

<form action="/">
  <input type="submit" value="Back">
</form>